
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Schibsted Grotesk", sans-serif;
}

.theme{
  background-color: #0F0F0F;
  color: #FE9E2B ;
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Ensure the element is still scrollable */
.scrollable-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Yeh white ya dark mode ke liye icon ka color change karega */
}

input:focus {
  color: white;
  outline: 1px solid #FE9E2B; /* Optional: Highlight border on focus */
  border: none;
}
select:focus {
  
  outline: 1px solid #FE9E2B; /* Optional: Highlight border on focus */
  border: none;
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


